<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THITN.Properties.Settings.THITNConnectionString" connectionString="Data Source=MY-VKK4I8VUSG81\TRACNGHIEM;Initial Catalog=THITN;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="THITN.Properties.Settings.CHUYEN_DEConnectionString"
            connectionString="Data Source=MY-VKK4I8VUSG81\TRACNGHIEM;Initial Catalog=CHUYEN_DE;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="THITN.Properties.Settings.masterConnectionString"
            connectionString="Data Source=MY-VKK4I8VUSG81\TRACNGHIEM;Initial Catalog=master;User ID=SA;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>